<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 配置Person类型bean-->
	<bean id="person" class="com.spl.xml.pojo.Person">
		<property name="name" value="spl"/>
	</bean>

	<bean id="company" autowire="byType" class="com.spl.xml.pojo.Company"></bean>

</beans>