<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:myname="http://www.lexueba.com/schema/student"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://www.lexueba.com/schema/student http://www.lexueba.com/schema/student.xsd">

<!--	<myname:student id="testbean" name="dsa" age="12"/>-->

<!--	<bean id="student" class="com.spl.xml.xmlBeanFactoryTest.bean.Person" >-->
<!--		<property name="name" value="com.spl.xml.xmlBeanFactoryTest.factoryBean.StudentFactory" />-->
<!--	</bean>-->

	<bean id="testBean" class="com.spl.xml.xmlBeanFactoryTest.factoryBean.StudentFactory" >
		<constructor-arg value="12"/>
	</bean>


</beans>