<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 配置Person类型bean-->
	<bean id="person" class="com.spl.context.pojo.Person">
		<property name="age" value="1"/>
	</bean>

	<bean id="postConstruct" class="com.spl.context.pojo.PostConstructTest">
	</bean>

</beans>